@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #64748b;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}
